:root{
	--fuenteP: 'Lato', system-ui;
	--fuenteS: 'Montserrat', system-ui;

	--azul: #0b6a99;
	--amarillo: #f59103;
	--rosa: #d0615f;
	--background: #2f2f2f;

	--colorTexto: #666666;
	--hover: #3f3f3f;
	--btn: {
		background: var(--azul);
		font-family: var(--fuenteS);
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		padding: 1em 2.5em;
		font-weight: 600;
		transition: .3s;
		border-radius: 15px;
		box-shadow: 0px 5px 0px color(var(--azul) blackness(70%));
		&:hover{
			background: color(var(--azul) blackness(70%));
			box-shadow: 0px 5px 0px color(var(--azul) blackness(80%));
		}
	};
	--title: {
		font-family: var(--fuenteP);
		color: white;
		text-transform: uppercase;
		font-size: 1.8rem;
	};
	--text: {
		font-family: var(--fuenteS);
		color: white;
	};
}
@custom-media --tablet (width <= 768px);
@custom-media --mobile (width <= 500px);
body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', system-ui;
	font-family: 'Montserrat', system-ui;
	overflow-x: hidden;
}
ul{
	padding-left: 0;
}

.Peru{
	background: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: .5em 1em 2em;
	@media (--tablet){
		padding: .5em 0 2em;
	}
	& .logo{
		margin: 0;
		& .img{
			width: 50%;
		}
	}
	& .navbar{
		position: relative;
		margin-top: -2em;
		@media (--mobile){
			width: 100%;
			padding-bottom: 1em;
			& .btn{
				display: block;
				background: none;
				border: none;
				color: white;
				font-size: 2rem;
				position: absolute;
				right: 2em;

			}
			& .menu{
				display: none;
			}
		}
		& .btn{
			display: none;
		}
		& .menu{
			margin: 0;
			display: flex;
			list-style: none;
			margin-top: 3em;
			background: none;
			& .item{
				& a{
					@apply --btn;
					color: var(--colorTexto);
					background: none !important;
					background: white;
					padding: 2.5em;
					padding-top: 0 !important;;
					transition: .3s;
					border-radius: 0;
					@media (--tablet){
						padding: 1.5em 1em;	
					}
					&:hover{
						color: var(--background);
						background: none;
					}
				}
			}
		}
	}
}
.Hero{
	background: url('../img/bg.jpg') no-repeat center center;
	background-size: cover;
	position: relative;
	@media (--tablet){
		padding: 5em 2em;
	}
	& .bg{
		padding: 10em 7em 7em;
		background: color(black a(50%));
		width: 100%;
		height: 100%;
	}
	& .contenedor{
		width: 40%;
		z-index: 5;
		@media (--tablet){
			width: 80%;	
		}
		@media (--mobile){
			width: 100%;	
			text-align: center;
		}
		& h2{
			margin: 0;
			@apply --title;
			font-weight: 400 !important;
			font-size: 1.8rem;
			margin-bottom: 1em;
			& strong{
				font-size: 2rem;
				& span{
					font-size: 2.2rem;
				}
			}
		}
		& .descripcion{
			@apply --text;
			font-size: 1.3rem;
			margin-bottom: 3em;
		}
		& .btn{
			@apply --btn;
			transition: .3s;
		}
	}
}
.Servicios{
	text-align: center;
	padding: 4em 4em 7em 4em;
	& > .title{
		color: var(--background);
		text-transform: uppercase;
		font-size: 2rem;
		margin-top: 0;
	}
	& .contenedor{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-top: 4em;
		& .item{
			& .icono{
				background: var(--azul);
				color: white;
				font-size: 3.5rem;
				padding: .3em;
				border-radius: 50%;
				margin-bottom: .5em;
			}
			& .title{
				color: var(--background);
				text-transform: uppercase;
				font-weight: bold;
				margin-bottom: 1em;
			}
			& .descripcion{
				color: var(--colorTexto);
			}
		}
		& .item:nth-of-type(2){
			& .icono{

				background: var(--rosa);
			}
		}
		& .item:nth-of-type(3){
			& .icono{

				background: var(--amarillo);
			}
		}
	}
}
.Precios{
	background: var(--background);
	padding: 5em 7em;
	@media (--mobile){
		padding: 5em 2em;
	}
	& .contenedor{
		text-align: center;
		& .title{
			@apply --title;
		}
		& > .descripcion{
			@apply --text;
			color: var(--colorTexto);
			margin-bottom: 5em;
		}
		& .contenedor{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 50px;
			@media (--tablet){
				grid-template-columns: 1fr;				
			}

			& .item{
				background: var(--colorTexto);
				padding: 1em 2em 2em;
				display: grid;
				justify-items: center;
				transition: .3s;
				border-radius: 5px;
				& .title{
					font-size: 1.3rem;
				}
				& .precio{
					color: #c5c5c5;
					border-bottom: 1px solid #c5c5c5;
					width: 100%;
					padding-bottom: 1em;
					& span{
						color: var(--amarillo);
					}
				}
				& .descripcion{
					color: #c5c5c5;
				}
				& .btn{
					@apply --btn;
					width: 50%;
					box-shadow: 0px 6px 0px color(var(--azul) blackness(70%));
					&:hover{
						background: var(--azul);
					}
				}
				&:nth-of-type(2){
					& .btn{
						background: var(--amarillo);
						box-shadow: 0px 6px 0px color(var(--amarillo) blackness(50%));
					}
				}
				&:nth-of-type(3){
					& .btn{
						background: var(--rosa);
						box-shadow: 0px 6px 0px color(var(--rosa) blackness(35%));
					}
				}
				&:hover{
					background: var(--hover);
				}
			}
		}
	}
}
.Diseno{
	& .container{
		display: grid;
		grid-template-columns: 1fr 1fr;

		@media (--tablet){
			grid-template-columns: 1fr;				
		}
		& .item{
			background: #f3f3f3;
			text-align: center;
			position: relative;
			& .circulo{
				width: 20%;
			    height: 100%;
			    background: #f3f3f3;
			    position: absolute;
			    z-index: 1;
			    border-radius: 72%;
			    right: -65px;
			}
			& .title{
				@apply --title;
				color: var(--colorTexto);
			}
			& .descripcion{
				@apply --text;
				color: var(--colorTexto);
			}
			& .btn{
				@apply --btn;
				margin-top: 2em;
			}
			&:nth-of-type(1){
				padding: 2em 5em;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			&:nth-of-type(2){
				& .img{
					width: 100%;
					filter: brightness(0.5);
				}
			}
		}
	}
}
.Portafolio{
	text-align: center;
	padding: 4em 0;
	background: #f3f3f3;
	& .title{
		@apply --title;
		color: var(--colorTexto);
		margin-bottom: 2em;
	}
	& .menu{
		display: flex;
		justify-content: center;
		list-style: none;
		margin-bottom: 4em;
		@media (--mobile){
			overflow-x: scroll;
		}
		& li{
			& a{
				color: var(--colorTexto);
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 600;
				padding: 2em;
				transition: .3s;
				@media (--mobile){
					padding: 1em;
				}
				&:hover{
					color: #2f2f2f;
				}
			}
		}
	}
	& .contenedor{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 2em;
		padding: 0 2em;
		@media (--tablet){
			grid-template-columns: 1fr 1fr;
		}
		@media (--mobile){
			grid-template-columns: 1fr;
		}
		& img{
			width: 100%;
		}
		& .item{
			transition: .3s;
			display: flex;
			flex-direction: column;
			position: relative;
			overflow: hidden;
			border-radius: 15px;
			& .overlay{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				right: 0;
				background: color(black a(50%));
				display: flex;
				flex-direction: column;
				color: white;
				justify-content: space-around;
				padding: 3em 0;
				box-sizing: border-box;
				opacity: 0;
				transition: .3s;
			}
			& .img{
				transition: .3s;
			}
			&:hover{
				& .overlay{
					opacity: 1;
					z-index: 2;
				}
				& .img{
					z-index: 1;
					transform: scale(1.1);
				}
			}
		}
	}
}
.Testimonios{
	background: url('../img/testimonios.jpg') no-repeat center center;
	background-size: cover;
	& .contenedor{
		background: color(black a(50%));
		text-align: center;
		padding: 5em 8em;
		@media (--mobile){
			padding: 5em 2em;
		}
		& .title{
			@apply --title;
			margin-bottom: 2em;
		}
		& .testimonio{
			@apply --text;
			font-size: 1.4rem;
		}
		& .nombre{
			font-family: var(--fuenteP);
			text-transform: uppercase;
			color: white;
			font-weight: bold;
			font-size: 1.2rem;
		}
		& .personas{
			display: flex;
			justify-content: center;
			& li{
				width: 80px;
				height: 80px;
				list-style: none;
				border-radius: 50%;
				overflow: hidden;
				margin: 1em;
				box-shadow: 4px 4px 20px 0px white;
				@media (--mobile){
					width: 50px;
					height: 50px;
				}
				& img{
					height: 100%;
				}
			}
		}
	}
}
.Footer{
	background: var(--background);
	& .informacion{
		padding: 3em 7em;
		& .contenedor{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			width: 50%;
			@media (--tablet){
				width: 100%;
			}
			@media (--tablet){
				grid-template-columns: 1fr;
			}
			& .title{
				margin: 0;
				@apply --title;
				font-size: 1.2rem;
			}
			& .item {

				& .menu{
					list-style: none;
					& .item{
						line-height: 2.5rem;
						& a{
							color: var(--colorTexto);
							text-decoration: none;
							transition: .3s;
							&:hover{
								color: white;
							}
						}
					}
				}
				&:nth-of-type(2){
					& .menu{
						display: flex;
						& li{
							& a{
								padding-right: 1.5em;
								font-size: 1.5rem;
							}
						}
					}
				}
			}
		}
	}
	& .derechos{
		background: black;
		padding: 1em;
		color: var(--colorTexto);
		display: flex;
		justify-content: space-around;
		@media (--mobile){
			flex-direction: column;
			& span{
				margin-bottom: 2em;
			}
		}
		& a{
			color: var(--azul);
			text-decoration: none;
			transition: .3s;
			&:hover{
				color: white;
			}
		}
	}
}