:root{
	--fuenteP: 'Lato', system-ui;
	--fuenteS: 'Montserrat', system-ui;

	--azul: #0b6a99;
	--amarillo: #f59103;
	--rosa: #d0615f;
	--background: #2f2f2f;

	--colorTexto: #666666;
	--hover: #3f3f3f;
	--btn: {
		background: var(--azul);
		font-family: var(--fuenteS);
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		padding: 1em 2.5em;
		font-weight: 600;
		transition: .3s;
		&:hover{
			background: var(--background);
		}
	};
	--title: {
		font-family: var(--fuenteP);
		color: white;
		text-transform: uppercase;
		font-size: 1.8rem;
	};
	--text: {
		font-family: var(--fuenteS);
		color: white;
	};
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', system-ui;
	font-family: 'Montserrat', system-ui;
	overflow-x: hidden;
}

.Peru{
	background: #475057;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: .5em 1em 2em;
	& .logo{
		margin: 0;
		& .img{
			width: 60%;
		}
	}
	& .navbar{
		& .menu{
			margin: 0;
			display: flex;
			list-style: none;
			margin-top: 3em;
			& .item{
				& a{
					@apply --btn;
					padding: 2.5em;
					transition: .3s;
					&:hover{
						background: var(--background);
					}
				}
			}
		}
	}
}
.Hero{
	background: url('../img/bg.jpg') no-repeat center center;
	background-size: cover;
	padding: 7em 5em;
	& .contenedor{
		width: 50%;
		& h2{
			margin: 0;
			@apply --title;
			font-weight: 400 !important;
			font-size: 1.8rem;
			margin-bottom: 1em;
			& strong{
				font-size: 2rem;
				& span{
					font-size: 2.2rem;
				}
			}
		}
		& .descripcion{
			@apply --text;
			font-size: 1.3rem;
			margin-bottom: 3em;
		}
		& .btn{
			@apply --btn;
			transition: .3s;
			&:hover{
				background: var(--background);
			}
		}
	}
}
.Precios{
	background: var(--background);
	padding: 5em 8em;
	& .contenedor{
		text-align: center;
		& .title{
			@apply --title;
		}
		& > .descripcion{
			@apply --text;
			color: var(--colorTexto);
			margin-bottom: 5em;
		}
		& .contenedor{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-gap: 50px;
			& .item{
				background: var(--colorTexto);
				padding: 1em 2em 2em;
				display: grid;
				justify-items: center;
				transition: .3s;
				& .title{
					font-size: 1.3rem;
				}
				& .precio{
					color: #c5c5c5;
					border-bottom: 1px solid #c5c5c5;
					width: 100%;
					padding-bottom: 1em;
					& span{
						color: var(--amarillo);
					}
				}
				& .descripcion{
					color: #c5c5c5;
				}
				& .btn{
					@apply --btn;
					padding: .8em 2em;
					width: 50%;
					&:hover{
						background: var(--azul);
					}
				}
				&:nth-of-type(2){
					& .btn{
						background: var(--amarillo);
					}
				}
				&:nth-of-type(3){
					& .btn{
						background: var(--rosa);
					}
				}
				&:hover{
					background: var(--hover);
				}
			}
		}
	}
}
.Diseno{
	& .container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		& .item{
			background: #f3f3f3;
			text-align: center;
			& .title{
				@apply --title;
				color: var(--colorTexto);
			}
			& .descripcion{
				@apply --text;
				color: var(--colorTexto);
			}
			& .btn{
				@apply --btn;
				margin-top: 2em;
			}
			&:nth-of-type(1){
				padding: 2em 5em;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
			&:nth-of-type(2){
				& .img{
					width: 100%;
					filter: brightness(0.5);
				}
			}
		}
	}
}
.Portafolio{
	text-align: center;
	padding: 4em 0;
	& .title{
		@apply --title;
		color: var(--colorTexto);
		margin-bottom: 2em;
	}
	& .menu{
		display: flex;
		justify-content: center;
		list-style: none;
		margin-bottom: 4em;
		& li{
			& a{
				color: var(--colorTexto);
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 600;
				padding: 2em;
				transition: .3s;
				&:hover{
					color: #2f2f2f;
				}
			}
		}
	}
	& .contenedor{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		& img{
			width: 100%;
		}
		& .item{
			transition: .3s;
			&:hover{
				transform: scale(1.1);
			}
		}
	}
}