<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Peru Gravity
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	link(rel="stylesheet", href="css/fontawesome-all.min.css")
	link(rel="stylesheet", href="css/estilos.css")
body
	header.Peru
		figure.logo
			img.img(src="img/logo.png", alt="logo")
		nav.navbar
			ul.menu
				li.item
					a(href="#") Responsive Design
				li.item
					a(href="#") Marketing On-line
				li.item
					a(href="#") Hosting
				li.item
					a(href="#") Dibujo y Animación
	section.Hero
		h1.title!= "Aloja tus sitios <strong>con una empresa <span>confiable</span></strong>"
		p.descripcion Conía en una empresa de tu localidad y con quien puedas tomar un cafe

		a.btn(href="#") Empieza Ahora